.attention{
  font-size: 37px;
  font-weight: bold;
  color: #A8D486;
  width: 48px;
  height: 48px;
  border: 2px solid #A8D486;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 16px;
}
.create-ride-container{
  width: 100%;
  min-height: 500px;
  padding: 56px 77px;
  background: rgba(229, 237, 223, 0.06);;
  max-width: 878px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}
.subtitle-content{
  display: flex;
  align-items: flex-start;
  a{
    margin-left: 5px;
  }
}
.direct-link{
  color: #86D2D4;
}
.title{
  font-size: 22px;
  color: #E3E3DD;
  margin-top: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  margin-bottom: 12px;
}
.subtitle{
  font-size: 16px;
  text-align: center;
  color: #E3E3DD;
  opacity: 0.56;
  margin-bottom: 48px;
  border-radius: 16px;
}