.ride-container{
  width: 100%;
  max-width: 973px;
  height: 96px;
  border-radius: 16px;
  background: rgba(#E5EDDF, 0.06);
  padding: 0px 24px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: space-between;
  &:hover{
    background: rgba(#E5EDDF, 0.15);
    cursor: pointer;
  }
}
.rides-info{
  display: flex;
  align-items: center;
  width: 150px;
}
.avatar-image{
  border-radius: 50%;
  margin-right: 16px;
}
.rides-nickname{
  color: #86D2D4;
  font-weight: bold;
  margin-bottom: 11px;
}
.fcfs, .scraps{
  width: 87px;
  height: 23px;
  border: 1px solid #A8D486;
  border-radius: 6px;
  font-size: 12px;
  color: #A8D486;
  display: flex;
  align-items: center;
  margin-right: 4px;
  justify-content: center;
}
.scraps{
  color: #86D2D4;
  border-color: #86D2D4;
  width: 98px;
}
.status-buttons{
  display: flex;
  align-items: center;
}
.description{
  max-width: 350px;
  color: #E3E3DD;
  font-size: 14px;
  line-break: auto;
}
.date{
  font-size: 12px;
  color: #E3E3DD;
  opacity: 0.56;
  margin-bottom: 7px;
}
.no-raids-available{
  width: 160px;
  height: 40px;
  border-radius: 7px;
  background: rgba(#E3E3DD, 0.6);
  border: none;
  color: #E3E3DD;
  opacity: 0.6;
}
.raids-in-scraps{
  background: rgba(#E5EDDF, 0.06);
  color: #A8D486;
  border-radius: 10px;
  width: 178px;
  height: 40px;
  border: none;
  &:hover{
    background: #A8D486;
    color: #242A31;
  }
}