.home-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  .title{
    margin: 64px 0px;
    color: #E3E3DD;
    font-size: 32px;
    font-weight: bold;
    width: 90%;
    max-width: 512px;
    text-align: center;
  }
  .action-buttons{
    width: 90%;
    max-width: 632px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .auth-as-rider, .require-rider{
    width: calc(50% - 13px);
    height: 72px;
    background: #A8D486;
    color: #242A31;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
  }
  .rent-duck{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #86D2D4;
    color: #86D2D4;
    font-weight: bold;
    height: 72px;
    width: 100%;
    border-radius: 12px;
    margin-top: 32px;
    background: none;
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .home-page-container{
    .title{
      font-size: 22px;
      line-height: 30px;
      transition: 0.5s;
    }
    .auth-as-rider, .rent-duck, .require-rider{
      font-size: 18px;
      height: 64px;
    }
  }
}