.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}
.claim-button{
  width: 113px;
  height: 48px;
  background: #A8D486;
  border: 1px solid #A8D486;
  color: #0F1211;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.header-actions{
  display: flex;
  align-items: center;
}
.rent-button{
  width: 113px;
  height: 48px;
  background: #86D2D4;
  border: 1px solid #86D2D4;
  color: #0F1211;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 16px;
  border-radius: 10px;
}
.solana{
  margin-right: 10px;
}
.balance-button{
  border: 2px solid #A8D486;
  width: 161px;
  height: 48px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: none;
  border-radius: 10px;
  font-weight: bold;
}
.avatar-icon{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: none;
  border: none;
  margin-left: 24px;
  overflow: hidden;
  img{
    width: 42px;
    height: 42px;
  }
}